<p style="color: green"><%= notice %></p>

<div class="d-flex flex-column">
  <div>
    <%= @restaurant.name %>
    <%= @restaurant.address %>
    <%= @restaurant.phone %>
  </div>
  <div class="d-flex flex-row">
    <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant) %> |
    <%= link_to "Back to restaurants", restaurants_path %>
  </div>
  <%= button_to "Destroy this restaurant", @restaurant, method: :delete, class: "btn btn-danger" %>
</div>
